[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==3.2.0"
cffi = "==1.14.5"
pycparser = "==2.20"
six = "==1.15.0"

[dev-packages]

[requires]
python_version = "3.9"
